/.idea
/.vs
/bin/*
/lib/*
!/bin/RLE_msvc.exe
!/bin/RunRLE_Decode.bat
!/bin/RunRLE_Encode.bat
!/bin/DCT_msvc.exe
!/bin/RunDCT.bat
!/bin/PSNRTable_msvc.exe
!/bin/BuildPSNRTable.bat
/data/PSNR.csv
/data/PSNR.xlsx
/data/~$PSNR.xlsx
