/.idea
/.vs
/bin/*
/lib/*
/data/*
!/bin/RLE_msvc.exe
!/bin/RunRLE_Decode.bat
!/bin/RunRLE_Encode.bat
!/bin/DCT_msvc.exe
!/bin/RunDCT.bat
!/bin/PSNRTable_msvc.exe
!/bin/BuildPSNRTable.bat
!/bin/DCTCompare_msvc.exe
!/data/00_1.bin
!/data/00_256.bin
!/data/FF_1.bin
!/data/FF_256.bin
!/data/packed_data_var4.bin
!/data/unpacked_data_var4.bin
!/data/input_matrix_var4.txt
!/data/Lenna.png
